.App {
}

.container {
  display:flex;
}


.first-section {
  background: orangered;
  flex-grow:1;
}

.second-section {
  /*height: 500px;*/
  background:yellowgreen;
  flex-grow:3;

}

.third-section {
  /*height: 500px;*/
  background: steelblue;
  flex-grow:2;

}

.container > div {
  font-size: 5vw;
  padding: .5em;
  color: white;
  height: 100vh;
}

button {
  background: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 20px;
}

